body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px black solid;
  padding: 10px;
}

td a {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  font-weight: 700;
}

td:last-child {
  padding: 10px;
}
